/* Add CSS Styling */

.click{
    color:white;
    background-color: black;
}

.noclick{
    background-color:#ffff00;
}

.click.noclick{
    font-size: 28px;
    font-family: 'Helvetica','Times New Roman', sans-serif;
}